/* Search Box  */

.search-box {
  background-color: var(--white-color);
  min-height: 185px;
  margin-top: calc(var(--white-space-tb) / 2);
  box-shadow: 4px 7px 18px 3px #00000009;
  border-radius: 15px;
  padding: 40px 90px;
}

@media (max-width: 812px) {
  .search-box {
    padding: 40px;
  }
}

.search-box .wrapper {
  /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 40px 100px;
}

@media (max-width: 1600px) {
  .search-box .wrapper {
    gap: 40px 80px;
  }
}

.search-box .wrapper .input-parent {
  width: 210px;
  height: 72px;
}

.search-box .wrapper .input-parent .input-box {
  background-color: #fff;
  border: 1.5px solid var(--very-dark-gray);
  width: 100%;
  height: 40px;
  border-radius: 7px;
  box-shadow: 4px 7px 20px 0 #00000009;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 18px;
  margin-inline: auto;
}

@media (max-width: 688px) {
  .search-box .wrapper .input-parent {
    width: 100%;
  }
}

.search-box .wrapper .input-parent label {
  font-weight: 500;
  font-size: 15px;
}

.search-box .wrapper .input-parent .input-box img {
  width: 20px;
  height: 20px;
}

.search-box .wrapper .input-parent .input-box input {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 12px;
  font-family: var(--main-font);
  padding-right: 5px;
}

.search-box .wrapper .input-parent .input-box input:placeholder {
  font-weight: lighter;
  color: #717171;
}

.search-box .icon {
  margin-left: 12px;
  width: 17px;
}

.search-box .wrapper .input-parent:last-child {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 12px;
}
.search-box .wrapper .input-parent .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 40px;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 7px;
  transition: 0.5s ease-in-out;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
}
.search-box .wrapper .input-parent .button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
